{{ if .Site.Params.about.enable | default false }}
<section id="about" class="py-0 py-sm-5">
    <div class="container bg-transparent">
        <h3 class="text-center bg-transparent">{{ .Site.Params.about.title }}</h3>
        <div class="bg-transparent row justify-content-center px-3 py-5">
            {{ if .Site.Params.about.image }}
            <div class="col-sm-12 col-md-8 col-lg-4 mb-5 mb-sm-0 mb-md-5 mb-lg-0 d-none d-sm-none d-md-block">
                <div class="image d-flex px-5">
                    <img src="{{ .Site.Params.about.image }}" class="img-thumbnail mx-auto rounded-circle" alt="">
                </div>
            </div>
            {{ end }}
            <div class="col-sm-12 col-md-12 col-lg-8 content">
                <div>
                    {{ .Site.Params.about.content | markdownify }}
                </div>

                {{ if .Site.Params.about.skills.enable }}
                <div class="mt-3">
                    {{ .Site.Params.about.skills.title }}
                    <ul>
                        {{ range .Site.Params.about.skills.items }}
                        <li>{{ . | markdownify }}</li>
                        {{ end }}
                    </ul>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}
