{{ if .Site.Params.projects.enable | default true }}
<section id="projects" class="py-5">
  <div class="container">
    <h3 class="text-center">{{ .Site.Params.projects.title | default "Projects" }}</h3>
    <div class="px-0 px-md-5 px-lg-5">
      <div class="row justify-content-center px-3 px-md-5 px-lg-5">
        {{ range .Site.Params.projects.items }}
        {{ $name := . }}
        {{ with $.Site.GetPage "/projects" $name }}

        <div class="col-lg-4 col-md-6 my-3">
          <div class="card my-3 h-100">
            <div class="card-head" >
              <a  href="{{ .RelPermalink }}">
                <img class="card-img-top" src="{{ printf "/images/miniature/%s.jpg" .File.BaseFileName | relURL }}" alt="{{ .Title }}">
              </a>
            </div>
            <div class="card-body bg-transparent p-3">
              <a  href="{{ .RelPermalink }}" class="primary-font card-title">
                <h5 class="card-title bg-transparent">{{ .Title | truncate 50 }}</h5>
              </a>
              <div class="card-text bg-transparent secondary-font">
                {{ .Summary | safeHTML }}
              </div>
              <div class="card-date bg-transparent secondary-font float-end fst-italic">
                {{ .Date.Format "January 2006" }}
              </div>
            </div>
          </div>
        </div>
        {{ end }}
        {{ end }}
        <div id="outro">
          <h6 class="text-center mt-5">{{ .Site.Params.projects.outro | markdownify }}</h6>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
