{{ define "head" }}
<meta name="description" content="{{ .Title }} of {{ .Site.Title }}">
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/projects.css" media="all">

<!-- fontawesome -->
<script defer src="{{ .Site.Params.staticPath }}/fontawesome-6/all-6.4.2.js"></script>
{{ end }}

{{ define "title" }}
{{.Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<div class="container pt-5" id="projects">
  <h2 class="text-center pb-2">Project gallery</h2>
  <div class="row">
    {{ range .Pages }}
    <div class="col-lg-4 col-md-6 my-3">
      <div class="card my-3 h-100">
        <div class="card-head" >
          <a  href="{{ .RelPermalink }}">
            <img class="card-img-top" src="{{ printf "/images/miniature/%s.jpg" .File.BaseFileName | relURL }}" alt="{{ .Title }}">
          </a>
        </div>
        <div class="card-body bg-transparent p-3">
          <div class="pb-2 bg-transparent">
            {{ range .Params.tools}}
            <span class="badge badge-secondary">{{ . }}</span>
            {{ end }}
          </div>
          <a  href="{{ .RelPermalink }}" class="primary-font card-title">
            <h5 class="card-title bg-transparent">{{ .Title | truncate 50 }}</h5>
          </a>
          <div class="card-text bg-transparent secondary-font">
            {{ .Summary | safeHTML }}
          </div>
          <div class="card-date bg-transparent secondary-font float-end fst-italic">
            {{ .Date.Format "January 2006" }}
          </div>
        </div>
        <div class="card-footer py-3">
          {{ with .Params.gitlab }}
          <span class="m-1 mx-2">
            <a href="{{ .}}" target="_blank">
              <i class="fab fa-gitlab"></i>
            </a>
          </span>
          {{ end }}
          {{ with .Params.github}}
          <span class="m-1 mx-2">
            <a href="{{ .}}" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </span>
          {{ end }}
          {{ with .Params.drive}}
          <span class="m-1 mx-2">
            <a href="{{ .}}" target="_blank">
              <i class="fab fa-google-drive"></i>
            </a>
          </span>
          {{ end }}
          {{ with .Params.article}}
          <span class="m-1 mx-2">
            <a href="{{ .}}" target="_blank">
              <i class="fas fa-file"></i>
            </a>
          </span>
          {{ end }}
          {{ with .Params.website}}
          <span class="m-1 mx-2">
            <a href="{{ .}}" target="_blank">
              <i class="fas fa-link"></i>
            </a>
          </span>
          {{ end }}
          {{ with .Params.youtube}}
          <span class="m-1 mx-2">
            <a href="{{ .}}" target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
          </span>
          {{ end }}
          <span class="float-end">
            {{ with .Params.demo }}
            <a class="btn btn-sm" href="{{ printf "/demos/%s" . | relURL }}" target="_blank">
              Demo
            </a>
            {{ end }}
          </span>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
