{{ define "head" }}
<meta name="description" content="{{ .Title | emojify }} of {{ .Site.Title | emojify }}">
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/list.css" media="all">
<script defer src="{{ .Site.Params.staticPath }}/fontawesome-6/all-6.4.2.js"></script>
{{ end }}

{{ define "title" }}
{{.Title | emojify }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<div class="container pt-5" id="list-page">
  <h2 class="text-center pb-2">{{.Title | emojify}}</h2>
  <h6 class="text-center">{{ .Params.description | emojify }}</h6>

  <div class="row">
    {{ with .Params.sections.youtubeVideos }}
    <h2 class="text-center pb-5 mt-5">{{.title | emojify}}</h2>
    <h6 class="text-center">{{ .description | emojify }}</h6>
    {{ range .videos }}
    <div class="col-lg-4 col-md-6 my-3">
      <div class="card my-3 h-100">
        <div class="card-head" >
          <iframe width="560" height="230" class="card-img-top" src="https://www.youtube-nocookie.com/embed/{{ .yt_id }}" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="card-body bg-transparent p-3">
          <h5 class="card-title bg-transparent">{{ .title }}</h5>
        </div>
        <div class="card-footer py-3">
          <span class="d-flex justify-content-between align-items-center">
            <span class="img-icon">
              <img src="/icons/{{ .software }}.svg">
            </span>
            <h6 class="text-center" style="width: 100%;">{{ dateFormat "January 2006" .date }}</h6>
            <span class="p-2 text-end">
              <span 
                  class="card-info"
                  style="cursor: pointer;" 
                  data-bs-toggle="tooltip" 
                  data-bs-placement="top" 
                  data-bs-original-title={{ .description }}
                  >
                <i class="fas fa-info-circle fa-lg"></i>
              </span>
            </span>
          </span>
        </div>
      </div>
    </div>
    {{ end }}
    {{ end }}
  </div>

  <div class="row">
    {{ with .Params.sections.puzzles }}
    <h2 class="text-center pb-2 mt-5">{{.title | emojify}}</h2>
    <h6 class="text-center">{{ .description | emojify }}</h6>
    {{ range .competitions }}
    <div class="col-lg-4 col-md-6 my-3">
      <div class="card my-3 h-100" title="{{ .Title }}">
        <div class="card-body bg-transparent p-3">
          <a  href="{{ .url }}" target="_blank" class="primary-font card-title">
            <h5 class="card-title bg-transparent">{{ .title }}</h5>
          </a>
          <div class="pb-2 bg-transparent">
            {{ range .tools}}
            <span class="badge badge-secondary">{{ . }}</span>
            {{ end }}
          </div>
          <div class="card-text bg-transparent secondary-font">
            {{ .description | markdownify }}
          </div>
        </div>
        <div class="card-footer py-3">
          {{ with .gitlab }}
          <span class="m-1 mx-2">
            <a href="{{ .}}" target="_blank">
              <i class="fab fa-gitlab"></i>
            </a>
          </span>
          {{ end }}
          {{ with .github}}
          <span class="m-1 mx-2">
            <a href="{{ .}}" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </span>
          {{ end }}
        </div>
      </div>
    </div>
    {{ end }}
    {{ end }}
  </div>

</div>
{{ end }}
