
/* Default font for body */
body {
    /* font-family: "Lora", serif !important; */
    font-family: "Alata", sans-serif;
}

/* secondary font */
.secondary-font, #secondary-font {
    /* font-family: "Lora", serif; */
    font-family: "Alata", sans-serif;
}

/* primary font */
.primary-font, #primary-font {
    font-family: "Alata", sans-serif;
}

/* Default font */
.default-font, #default-font {
    font-family: "Roboto", sans-serif;
}
