/* projects */

#projects h3 {
    color: var(--text-secondary-color) !important;
}

#projects a {
    text-decoration: none;
    color: var(--text-color) !important;
}

#projects .badge {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    margin: 0 1%;
}

#projects .card {
    background-color: var(--secondary-color) !important;
    box-shadow: 0px 8px 56px rgb(15 80 100 / 16%);
    min-height: 400px;
    overflow: hidden;
    border-radius: 1rem;
    border: none !important;
}

#projects .card:hover {
    box-shadow: 0 0 11px rgb(15 80 100 / 20%);
    transition: transform 0.3s;
    transform: translateY(-7px);
}

#projects .card .card-head {
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: none !important;
}

#projects .card .card-footer {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#projects .card:hover .card-img-top {
    transition: all 0.3s ease-out;
}

#projects .card-img-top {
    transition: transform 0.3s;
}

#projects .float-end .btn {
    transition: none;
    border-radius: .5rem !important;
    border-color: var(--primary-color) !important;
}

#projects .float-end .btn:focus {
    box-shadow: none !important;
}
