:root {
  --node-color: #e84040;
  --edge-color: #333;
  --selected-color: coral;
}


body {
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#myCanvas {
  background-color: var(--cv-bg);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}

#control-panel {
  max-width: 500px;
  margin: 0 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
  overflow: auto;
}

#control-panel h2 {
  color: #333;
  margin-bottom: 20px;
}

#control-panel label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

#control-panel input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

#control-panel button {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  margin-right: 10px;
}

#control-panel button:hover {
  background-color: #444;
}

.input-container {
  display: flex;
  justify-content: space-between;
}
.input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}
.input-field:last-child {
  margin-right: 0;
}

#time-step {
  max-width: 50%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --node-color: #add8e6;
    --selected-color: #eee;
    --edge-color: #008080;
  }

  body {
    background-color: #222;
  }

  #myCanvas {
    background-color: #333;
  }

  #control-panel {
    background-color: #333;
  }

  #control-panel h2 {
    color: #CCC;
  }

  #control-panel label {
    color: #CCC;
  }

  #control-panel input {
    border: 1px solid #CCC;
  }

  #control-panel button {
    background-color: #555;
    color: #DDD;
  }

  #control-panel button:hover {
    background-color: #444;
  }

  input[type="number"], textarea {
    background-color : #CCC; 
  }
}
